body { margin:0; } /* Remove body margins */

.main-app {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.middle-main-split {
  display: flex;
  width: 100%;
  height: 50%;
}
.linked {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 5px solid green;
}
.projects {
  display: flex;
  width: 50%;
  height: 50vh;
}
.tech {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid green;
}
